//copy the db connection string in here and rename the file to .env

DATABASE_URL="example: postgres://something:something@something"
BETTER_AUTH_SECRET= #generate using 'openssl rand -base64 32'
BETTER_AUTH_URL= #local host url when running the app, should show up in the terminal when you 'npm run dev'